@charset "utf-8";

/* 모달창*/
/* .black-bg{
    display: none;

    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.visible {
    display: block !important;
}

.white-bg{
    background-color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
}
.white-bg .c-btn{
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.white-bg .modal-txt{
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 28px 0;
    line-height: 130%;
}
.white-bg .modal-txt em{
    font-style: normal;
    color: red;
}
.white-bg .modal-txt span{
    font-size: 18px;
    font-weight: 500;
}
.white-bg .modal-box{
    width: 60%;
    margin: 0 auto;
}
.white-bg input,
.white-bg select{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 12px;
}
.white-bg #go{
    text-align: center;
    font-weight: 500;
    margin-top: 28px;
    margin-bottom: 52px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 12px;
    transition: 0.3s;

}
.white-bg #go.active{
    background-color: red;
    color: #fff;
} */

/* 하단 메뉴 */
.bottom-header{
    display: none;

    background-color: #dbdbdb75;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 18px 0px 18px;
    z-index: 999;
}
.bottom-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-header .s-btn{
    width: 200px;
    height: 56px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
    border: 3px solid rgb(245, 112, 156);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.bottom-header img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 16px;
}
.bottom-header img.q-img{
    width: 36px;
    height: 36px;
}

.bottom-header .q-btn{
    width: 200px;
    height: 56px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
    border: 3px solid rgb(243, 216, 67);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner */
.banner .txt-box p{
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    color: #333;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateX(-50%);
    margin-left: 16%;
    line-height: 130%;
}
.banner .txt-box p em{
    color: red;
    font-style: normal;
}

.banner{
    height: 100vh;
    position: relative;
}
.header-area{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 24px 32px;
    font-size: 0.85rem;
    color: #333;

    transition: 0.3s;
}
.header-area .header-logo{
    width: 214px;
    height: 100%;
    transition: 0.3s;
    background: url(../img/logo_new.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-area .main-menu{
    display: flex;
}
.header-area .main-menu .menu{
    margin-right: 24px;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 12px;
}
.header-area .main-menu .menu:hover{
    opacity: 1;
}
.header-area .main-menu .sub-menu a{
    margin: 12px 0;
    opacity: 0.7;
    transition: 0.3s;
}
.header-area .main-menu .sub-menu a:hover{
    opacity: 1;
}
.header-area .main-menu .sub-menu-container{
    position: absolute;
    background: white;
    border: 1px #DBDBDB solid;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
}

/* sec-1 */
.sec-1 .bg-box1{
    background: url(../img/1-회수형.png) no-repeat center;
    background-size: cover;
    margin-right: 36px;
}
.sec-1 .bg-box2{
    background: url(../img/1-부착형.png) no-repeat center;
    background-size: cover;
    margin-right: 36px;
}
.sec-1 .bg-box3{
    background: url(../img/1-함체형.png) no-repeat center;
    background-size: cover;
}
.sec-1 .container{
    display: flex;
    justify-content: center;
}
.sec-1{
    background-color: #fff;
    padding-top: 220px;
}
.sec-1 p{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #333;
    padding: 0 50px;
}
.sec-1 .bg-box1,
.sec-1 .bg-box2,
.sec-1 .bg-box3{
    width: 300px;
    height: 400px;
    border-radius: 16px;
}
.sec-1 .txt-box p{
    margin-top: 360px;
    font-size: 20px;
    color: #fff;
}

/* sec-2 */
.sec-2{
    background-color: #fff;
    padding-top: 220px;
}
.sec-2 .container{
    display: flex;
    justify-content: center;
}
.sec-2 .head{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
}
.sec-2 .bg-box1{
    margin-right: 68px;
}
.sec-2 .bg-box1,
.sec-2 .bg-box2{
    background-color: #d9d9d9;
    border-radius: 16px;

}
.sec-2 img{
    width: 350px;
    height: 250px;
    object-fit: contain;
    padding: 40px 32px 0;
    border-bottom: 1px solid #000;
}
.sec-2 .txt-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sec-2 .txt-box p{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-top: 25px;
    margin-bottom: 39px;
}
.sec-2 .txt-box span{
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 130%;
}

/* sec-3 */
.sec-3{
    background-color: #fff;
    padding-top: 220px;
}
.sec-3 .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}
.sec-3 .head{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
    line-height: 130%;
}
.sec-3 .txt-box{
    position: absolute;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdbba;
    border-radius: 50%;
}
.sec-3 .txt-box p{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.sec-3 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.sec-3 .bgBox{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* sec-4 */
.sec-4{
    background-color: #fff;
    padding-top: 200px;
}
.sec-4 .container{
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    margin: 0 auto;
}
.sec-4 p{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
    line-height: 200%;
}
.sec-4 em{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.sec-4 img{
    width: 350px;
    height: 450px;
    border-radius: 50%;
}
.sec-4 .m-img{
    margin-right: 68px;
}
.sec-4 span{
    font-size: 20px;
    color: #333;
    font-weight: 500;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

/* sec-5 */
.sec-5{
    background-color: #fff;
    padding-top: 220px;
}
.sec-5 .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}
.sec-5 .head{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
    line-height: 130%;
}
.sec-5 .txt-box{
    position: absolute;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdbba;
    border-radius: 50%;
}
.sec-5 .txt-box p{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.sec-5 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.sec-5 .bgBox{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* sec-6 */
.sec-6{
    background-color: #fff;
    padding-top: 220px;
}
.sec-6 .container{
    display: flex;
    justify-content: center;
}
.sec-6 p{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
}
.sec-6 img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-right: 36px;
}
.sec-6 .m-img{
    margin-right: 0;
}
.sec-6 .img-box-txt {
    background: #dbdbdbba;
    opacity: 0;
    transition-duration: 0.2s;
    position: absolute;
    top: 0;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-6 a {
    position: relative;
}
.sec-6 .img-box-txt:hover {
    opacity: 1;
}
.sec-6 span{
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-align: center;
}

/* sec-7 */
.sec-7{
    background-color: #fff;
    padding-top: 220px;
    padding-bottom: 120px;
}
.sec-7 .container{
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    margin: 0 auto;
}
.sec-7 p{
    font-size: 28px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #333;
    padding:0 50px;
    line-height: 130%;
}
.sec-7 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-right: 36px;
}
.sec-7 .m-img{
    margin-right: 0;
}
.sec-7 span{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

/* footer */
.footer{
    background-color: #343A40;
    width: 100%;
    height: 150px;
    padding: 20px 0px 32px 0px;
}
.footer .container{
    padding: 0 20px;
}
.footer .footer-txt-box{
    display: flex;
}
.footer .footer-txt-box li{
    position: relative;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
}
.footer .footer-txt-box li::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #fff;
    line-height: 20px;
}
.footer .footer-txt-box p{
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
}


/* 반응형 */
@media (max-width: 1220px) {
    .sec-3 .container {
        width: 710px;
    }
    .sec-3 .bgBox {
        margin-bottom: 20px;
    }
    .sec-5 .container {
        width: 710px;
    }
    .sec-5 .bgBox {
        margin-bottom: 20px;
    }
}

@media (max-width: 1150px) {
    .footer .footer-txt-box{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .sec-1 .bg-box1, 
    .sec-1 .bg-box2, 
    .sec-1 .bg-box3 {
        width: 230px;
        height: 330px;
    }
    .sec-1 .txt-box p {
        margin-top: 294px;
    }
    .sec-6 img {
        width: 230px;
        height: 330px;
        margin-right: 4px;
    }
    .sec-6 .m-img{
        margin-right: 0;
    }
    .sec-6 .img-box-txt {
        transition-duration: 0s;
        opacity: 1;
        width: 120px;
        height: 48px;
        margin-top: 141px;
        margin-left: 55px;
    }
    .sec-6 span{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }

    .sec-7 img {
        width: 230px;
        height: 230px;
        margin-right: 0px;
    }
}

@media (max-width: 850px) {
    .sec-4 .m-img {
        margin-right: 8px;
    }
}

@media (max-width: 800px) {
    .bottom-header {
        display: block;
    }
    .noMobile {
        display: none;
    }
    .header-area .main-menu{
        display: none;
    }
    .header-area .main-menu .sub-menu-container{
        position: absolute;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border: unset;
        border-radius: unset;
        background: #FFFFFFBB;
        justify-content: space-evenly;
    }
    .banner .txt-box p{
        font-size: 34px;
    }
    .sec-1 .bg-box1,
    .sec-1 .bg-box2 {
        margin-right: 8px;
    }
    .sec-2 .bg-box1 {
        margin-right: 8px;
    }
    .sec-4 .img-box{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sec-4 .m-img {
        margin-right: 0px;
        margin-bottom: 8px;
    }
    .sec-4 span {
        font-size: 18px;
    }
    .sec-7 span {
        font-size: 18px;
    }
    .footer{
        height: 180px;
    }
}

@media (max-width: 730px){
    .sec-1 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-1 .txt-box p {
        margin-top: 409px;
    }
    .sec-1 .bg-box1,
    .sec-1 .bg-box2 {
        margin-bottom: 8px;
    }
    .sec-1 .bg-box1,
    .sec-1 .bg-box2,
    .sec-1 .bg-box3 {
        width: 350px;
        height: 450px;
    }
    .sec-2 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-2 .bg-box1 {
        margin-bottom: 8px;
        margin-right: 0px;
    }
    .sec-3 .container {
        width: 400px;
    }
    .sec-5 .container {
        width: 400px;
    }
    .sec-6 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-6 .img-box{
        display: flex;
        flex-direction: column;
    }
    .sec-6 img{
        width: 350px;
        height: 450px;
        margin-right: 0;
        margin-bottom: 8px;
    }
    .sec-6 .m-img{
        margin-bottom: 0;
    }
    .sec-6 .img-box-txt {
        width: 120px;
        height: 48px;
        margin-top: 201px;
        margin-left: 115px;
    }
    .sec-7 .img-box{
        display: flex;
        flex-direction: column;
    }
    .sec-7 img{
        width: 350px;
        height: 350px;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .sec-7 .m-img{
        margin-bottom: 0;
    }
}

@media (max-width: 650px) {
    .sec-1 p {
        font-size: 24px;
    }
    .sec-2 .head {
        font-size: 24px;
    }
    .sec-3 .head {
        font-size: 22px;
    }
    .sec-4 p {
        font-size: 24px;
    }
    .sec-4 em {
        font-size: 20px;
    }
    .sec-4 em {
        font-size: 17px;
    }
    .sec-4 span {
        font-size: 16px;
    }
    .sec-5 .head {
        font-size: 22px;
    }
    .sec-7 p {
        font-size: 22px;
    }
    .sec-7 span {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .banner .txt-box p {
        font-size: 24px;
    }
    .sec-1 p {
        font-size: 18px;
    }
    .sec-1 .bg-box1, 
    .sec-1 .bg-box2{
        margin-right: 0px;
    }
    .sec-1 .bg-box1, 
    .sec-1 .bg-box2,
    .sec-1 .bg-box3{
        width: 250px;
        height: 350px;
    }
    .sec-1 .txt-box p {
        margin-top: 316px;
        font-size: 14px;
    }
    .sec-2 .head{
        font-size: 18px;
    }
    .sec-2 img {
        width: 250px;
        height: 150px;
        padding: 24px 28px 0;
    }
    .sec-2 .txt-box p {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sec-2 .txt-box span {
        margin-bottom: 28px;
        font-size: 13px;
    }
    .sec-3 .container {
        width: 360px;
    }
    .sec-3 .head {
        font-size: 16px;
    }
    .sec-3 .txt-box {
        width: 150px;
        height: 150px;
    }
    .sec-3 img {
        width: 150px;
        height: 150px;
    }
    .sec-3 .txt-box p {
        font-size: 15px;
    }
    .sec-3 .bgBox {
        margin-bottom: 0px;
    }
    .sec-4 p {
        font-size: 18px;
    }
    .sec-4 em {
        font-size: 14px;
    }
    .sec-4 img {
        width: 250px;
        height: 350px;
    }
    .sec-4 span {
        font-size: 12px;
    }
    .sec-5 .head {
        font-size: 18px;
    }
    .sec-5 .container {
        width: 360px;
    }
    .sec-5 .head {
        font-size: 16px;
    }
    .sec-5 .txt-box {
        width: 150px;
        height: 150px;
    }
    .sec-5 img {
        width: 150px;
        height: 150px;
    }
    .sec-5 .txt-box p {
        font-size: 15px;
    }
    .sec-6 p {
        font-size: 18px;
    }
    .sec-6 img {
        width: 250px;
        height: 350px;
    }
    .sec-6 .img-box-txt {
        width: 80px;
        height: 34px;
        margin-top: 158px;
        margin-left: 8px;
    }
    .sec-6 span {
        font-size: 12px;
        font-weight: 600;
    }
    .sec-7 p {
        font-size: 16px;
    }
    .sec-7 img {
        width: 250px;
        height: 250px;
    }
    .sec-7 span {
        font-size: 12px;
    }
    .bottom-header .s-btn {
        width: 132px;
        height: 48px;
        font-size: 18px;
        margin-right: 30px;
    }
    .bottom-header .q-btn {
        width: 132px;
        height: 48px;
        font-size: 18px;
    }
    .bottom-header img {
        width: 26px;
        height: 26px;
        margin-right: 6px;
    }
    .bottom-header img.q-img {
        width: 31px;
        height: 31px;
    }
}
